[submodule "Portfolio-Platform-Common"]
	path = Portfolio-Platform-Common
	url = https://github.com/shah198/Portfolio-Platform-Common
[submodule "Portfolio-Platform-Dtos"]
	path = Portfolio-Platform-Dtos
	url = https://github.com/shah198/Portfolio-Platform-Dtos
[submodule "Portfolio-Platform-Entities"]
	path = Portfolio-Platform-Entities
	url = https://github.com/shah198/Portfolio-Platform-Entities
[submodule "Portfolio-Platform-Mappings"]
	path = Portfolio-Platform-Mappings
	url = https://github.com/shah198/Portfolio-Platform-Mappings
